In [1]:
!pip3 install pyathena

Requirement already satisfied: pyathena in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (3.9.0)
Requirement already satisfied: boto3>=1.26.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pyathena) (1.35.53)
Requirement already satisfied: botocore>=1.29.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pyathena) (1.35.53)
Requirement already satisfied: fsspec in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pyathena) (2024.10.0)
Requirement already satisfied: python-dateutil in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pyathena) (2.9.0)
Requirement already satisfied: tenacity>=4.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pyathena) (9.0.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3>=1.26.4->pyathena) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3>=1.26.4->pyathena) (0.10.3)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.29.4->pyathena) (2.2.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil->pyathena) (1.16.0)

In [2]:
from pyathena import connect
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.linear_model import LinearRegression

#metricas
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

# Carregando os Dados

In [3]:
conn = connect(s3_staging_dir='s3://techchallenge-fiap/output/',
               region_name='us-east-1')

In [4]:
df = pd.read_sql('SELECT * FROM "default"."techchallenge3";', conn)

/tmp/ipykernel_9181/3493947035.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM "default"."techchallenge3";', conn)

# Explorando os Dados

In [5]:
df

      id      model  year   mileage  condition     price    make
0      1  Silverado  2014   13578.0  Excellent  27321.10  Toyota
1      6     Altima  2014   11470.0  Excellent  27426.60  Toyota
2     10     Altima  2019  112693.0  Excellent  17365.45  Toyota
3     12  Silverado  2012   79902.0  Excellent  26005.00  Toyota
4     14      F-150  2014   72976.0  Excellent  24351.30  Toyota
..   ...        ...   ...       ...        ...       ...     ...
995  971      F-150  2013   98891.0  Excellent  24055.45  Nissan
996  985     Altima  2022   41167.0  Excellent  17941.75  Nissan
997  987     Altima  2013  109094.0  Excellent  23545.40  Nissan
998  995      Camry  2010  149032.0  Excellent  24548.50  Nissan
999  999  Silverado  2017  128390.0  Excellent  18580.60  Nissan

[1000 rows x 7 columns]

In [6]:
df.head()

   id      model  year   mileage  condition     price    make
0   1  Silverado  2014   13578.0  Excellent  27321.10  Toyota
1   6     Altima  2014   11470.0  Excellent  27426.60  Toyota
2  10     Altima  2019  112693.0  Excellent  17365.45  Toyota
3  12  Silverado  2012   79902.0  Excellent  26005.00  Toyota
4  14      F-150  2014   72976.0  Excellent  24351.30  Toyota

In [7]:
df.shape[0]

1000

In [8]:
df.shape[1]

7

In [9]:
df.isnull().sum()

id           0
model        0
year         0
mileage      0
condition    0
price        0
make         0
dtype: int64

In [10]:
df.describe()

                id        year        mileage         price
count  1000.000000  1000.00000    1000.000000   1000.000000
mean    499.500000  2015.86500   78796.927000  22195.205650
std     288.819436     3.78247   39842.259941   4245.191585
min       0.000000  2010.00000   10079.000000  12613.000000
25%     249.750000  2013.00000   44942.750000  18961.862500
50%     499.500000  2016.00000   78056.500000  22247.875000
75%     749.250000  2019.00000  112366.250000  25510.275000
max     999.000000  2022.00000  149794.000000  31414.900000

# Separação dos Dados de Treino e Teste

In [11]:
df = df.dropna()

Convertendo variáveis categóricas em numerais.

In [12]:
df = pd.get_dummies(df)

In [13]:
df

,id,year,mileage,price,model_Altima,model_Camry,model_Civic,model_F-150,model_Silverado,condition_Excellent,condition_Fair,condition_Good,make_Chevrolet,make_Ford,make_Honda,make_Nissan,make_Toyota
0,1,2014,13578.0,27321.10,0,0,0,0,1,1,0,0,0,0,0,0,1
1,6,2014,11470.0,27426.60,1,0,0,0,0,1,0,0,0,0,0,0,1
2,10,2019,112693.0,17365.45,1,0,0,0,0,1,0,0,0,0,0,0,1
3,12,2012,79902.0,26005.00,0,0,0,0,1,1,0,0,0,0,0,0,1
4,14,2014,72976.0,24351.30,0,0,0,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,971,2013,98891.0,24055.45,0,0,0,1,0,1,0,0,0,0,0,1,0
996,985,2022,41167.0,17941.75,1,0,0,0,0,1,0,0,0,0,0,1,0
997,987,2013,109094.0,23545.40,1,0,0,0,0,1,0,0,0,0,0,1,0
998,995,2010,149032.0,24548.50,0,1,0,0,0,1,0,0,0,0,0,1,0
999,999,2017,128390.0,18580.60,0,0,0,0,1,1,0,0,0,0,0,1,0

In [14]:
X = df.drop('price', axis=1)

In [15]:
X

,id,year,mileage,model_Altima,model_Camry,model_Civic,model_F-150,model_Silverado,condition_Excellent,condition_Fair,condition_Good,make_Chevrolet,make_Ford,make_Honda,make_Nissan,make_Toyota
0,1,2014,13578.0,0,0,0,0,1,1,0,0,0,0,0,0,1
1,6,2014,11470.0,1,0,0,0,0,1,0,0,0,0,0,0,1
2,10,2019,112693.0,1,0,0,0,0,1,0,0,0,0,0,0,1
3,12,2012,79902.0,0,0,0,0,1,1,0,0,0,0,0,0,1
4,14,2014,72976.0,0,0,0,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,971,2013,98891.0,0,0,0,1,0,1,0,0,0,0,0,1,0
996,985,2022,41167.0,1,0,0,0,0,1,0,0,0,0,0,1,0
997,987,2013,109094.0,1,0,0,0,0,1,0,0,0,0,0,1,0
998,995,2010,149032.0,0,1,0,0,0,1,0,0,0,0,0,1,0
999,999,2017,128390.0,0,0,0,0,1,1,0,0,0,0,0,1,0

In [16]:
y = df['price']

In [17]:
y

0      27321.10
1      27426.60
2      17365.45
3      26005.00
4      24351.30
         ...
995    24055.45
996    17941.75
997    23545.40
998    24548.50
999    18580.60
Name: price, Length: 1000, dtype: float64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=25)

In [19]:
X_train

,id,year,mileage,model_Altima,model_Camry,model_Civic,model_F-150,model_Silverado,condition_Excellent,condition_Fair,condition_Good,make_Chevrolet,make_Ford,make_Honda,make_Nissan,make_Toyota
357,731,2016,111433.0,0,0,0,0,1,0,0,1,1,0,0,0,0
114,552,2015,49624.0,0,0,0,1,0,1,0,0,0,0,0,0,1
268,348,2016,13492.0,0,1,0,0,0,1,0,0,1,0,0,0,0
665,311,2014,89643.0,0,0,0,0,1,1,0,0,0,0,1,0,0
856,209,2019,63399.0,0,1,0,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,559,2017,149439.0,0,0,0,0,1,0,0,1,1,0,0,0,0
143,716,2013,102901.0,1,0,0,0,0,1,0,0,0,0,0,0,1
474,271,2020,68319.0,0,0,1,0,0,1,0,0,0,1,0,0,0
318,560,2018,112050.0,0,1,0,0,0,1,0,0,1,0,0,0,0
132,642,2010,47014.0,0,0,0,1,0,1,0,0,0,0,0,0,1

In [20]:
X_test

,id,year,mileage,model_Altima,model_Camry,model_Civic,model_F-150,model_Silverado,condition_Excellent,condition_Fair,condition_Good,make_Chevrolet,make_Ford,make_Honda,make_Nissan,make_Toyota
688,421,2020,11052.0,0,0,0,0,1,1,0,0,0,0,1,0,0
49,217,2014,148505.0,0,1,0,0,0,0,0,1,0,0,0,0,1
288,437,2020,133725.0,0,0,0,1,0,0,0,1,1,0,0,0,0
698,463,2019,63167.0,0,0,0,0,1,1,0,0,0,0,1,0,0
775,810,2013,36782.0,0,1,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,161,2013,131297.0,0,0,0,0,1,1,0,0,0,0,1,0,0
209,16,2017,48281.0,0,0,0,1,0,0,1,0,1,0,0,0,0
296,469,2020,64646.0,1,0,0,0,0,0,1,0,1,0,0,0,0
609,976,2013,66767.0,1,0,0,0,0,1,0,0,0,1,0,0,0
63,291,2021,12202.0,0,0,1,0,0,1,0,0,0,0,0,0,1

In [21]:
y_train

357    20428.35
114    24518.90
268    25325.50
665    23517.95
856    19830.15
         ...
317    17528.05
143    23854.85
474    18584.15
318    18397.60
132    29649.40
Name: price, Length: 700, dtype: float64

In [22]:
y_test

688    21447.50
49     20574.75
288    15313.85
698    19841.65
775    27160.90
         ...
635    22435.15
209    22586.05
296    18767.80
609    25661.65
63     20390.00
Name: price, Length: 300, dtype: float64

# Regressão Linear

In [23]:
modelo = LinearRegression()

In [24]:
modelo.fit(X_train,y_train)

LinearRegression()

In [25]:
y_pred_lr = modelo.predict(X_test)

In [26]:
y_pred_lr

array([21447.4612199 , 20574.79656769, 15313.79591937, 19841.70849804,
       27160.95035226, 29352.99859003, 19469.51393269, 22499.35157378,
       19113.00172897, 31132.75954936, 21023.51562379, 20819.40109328,
       22233.73723521, 16771.20944552, 16575.86110926, 27519.15295778,
       25055.70970697, 30136.81113966, 19616.94743684, 27112.04576582,
       23187.70890272, 21606.46377356, 22142.31070753, 29208.75874976,
       18560.74484819, 24699.29637098, 16643.61824519, 25810.64007055,
       17467.10094592, 16620.24885569, 24743.64914655, 19470.29667817,
       18765.54505766, 21553.5095736 , 25360.85649843, 20855.30226892,
       23028.71400542, 20172.20453043, 18376.87431196, 19804.89305192,
       17225.95787859, 20904.34094388, 25769.10811119, 31274.76979151,
       25322.05985883, 23856.05066383, 21851.55042422, 20900.0702692 ,
       20665.25505574, 19796.5611261 , 27583.8099588 , 17086.86819109,
       28286.77108762, 25668.99807465, 27963.4177967 , 17165.21243023,
       23655.40374275, 16985.75428622, 16108.69126935, 24556.90256819,
       16169.51419142, 20290.90629169, 23045.71426098, 28091.90097758,
       25843.07140819, 26582.55875861, 25356.62193799, 24446.44995559,
       30347.44727563, 22688.0581155 , 19978.1162311 , 20251.23902034,
       26463.34428133, 29497.24891714, 20609.35996278, 22234.80408473,
       26312.04567478, 19663.82498724, 20924.5537301 , 17942.55195203,
       15400.36301431, 23113.05448279, 27426.56887627, 15259.1078632 ,
       21185.19930683, 28911.5557167 , 21025.49167575, 26933.10697312,
       18754.15930592, 24309.34842469, 28028.04698973, 20680.29186831,
       20688.26401554, 25331.86342403, 29561.83301523, 26400.6433225 ,
       15714.16787382, 21156.62469268, 27972.64520712, 15767.70780968,
       19017.80949832, 18824.44411459, 23883.3556081 , 25884.67979212,
       26018.49952445, 24867.34905533, 24568.10316399, 30142.58419308,
       25482.36307064, 25828.85737834, 15716.41057773, 19910.40380884,
       21456.57794321, 23540.84773705, 18119.26660282, 22213.09197295,
       16865.79567358, 22749.70048906, 16823.96222638, 17124.90687474,
       27181.99616162, 13948.10618006, 19579.74190127, 25264.20092634,
       23215.493115  , 26252.91475058, 22322.35123534, 16910.02229321,
       17624.40217405, 14867.49484367, 16713.60670319, 28104.44975543,
       27028.19390998, 14169.75107305, 18735.81627387, 18904.49742132,
       22643.35061225, 27752.81345688, 23683.55850745, 19523.30625659,
       20574.91307763, 23181.41775339, 23894.15375212, 22992.95026175,
       21545.05483168, 18064.81446727, 25008.75224525, 19200.47632074,
       28652.49653532, 16079.99663118, 28387.54650579, 24025.88915991,
       19919.30949515, 27197.94816525, 14900.90324172, 20507.50163377,
       25667.34106904, 17703.91411889, 16851.3624388 , 15967.80897145,
       16966.7989531 , 15447.56091044, 24816.65080351, 17968.39397305,
       21130.49491411, 20415.66212546, 25864.99333075, 19936.15275244,
       23105.85917034, 28813.04430018, 24270.64808808, 29895.0841668 ,
       23273.71459797, 24285.4460273 , 31034.19657664, 22962.4005599 ,
       18911.34147604, 18806.80756369, 20565.19597711, 20621.60884254,
       16617.50046318, 29126.17059263, 24004.48813954, 17160.50259889,
       20147.52356879, 23831.90482249, 28802.24039354, 28657.15629438,
       18305.61303553, 15943.82020341, 22003.9476744 , 17546.6391281 ,
       23575.54710402, 28497.41194706, 21322.44663104, 14463.01900778,
       14188.20457944, 15988.86306231, 23164.71120945, 29284.59481098,
       17941.71279852, 27928.09858106, 26434.3361511 , 20208.88983379,
       28106.10597277, 27279.80041583, 24141.01923258, 23668.95648294,
       25506.71437142, 18580.55063232, 25099.74855488, 22607.75902014,
       17784.21557133, 27551.80512031, 18747.58704801, 29791.23994068,
       20335.04418921, 21419.45461719, 25969.36165348, 14551.36424512,
       26613.60374051, 14479.05195991, 19869.01826924, 21920.59905215,
       22974.51331105, 16401.77814355, 18944.86241587, 28982.80198381,
       17649.72048536, 27587.79665077, 20419.2031793 , 20512.3010382 ,
       18714.99964872, 28271.54515715, 20777.80993114, 27044.06579352,
       20449.65747016, 23449.8030834 , 15522.49977082, 23887.31279   ,
       29016.65985567, 19000.49017189, 20800.3071809 , 22532.19662052,
       21473.15684655, 20551.21848004, 24832.99855174, 20458.9024243 ,
       16983.00344306, 20421.88476061, 19729.25511908, 17755.80665072,
       19445.7165862 , 26644.04683704, 19901.41384467, 14698.44646924,
       15377.66545805, 22844.25737675, 23683.53471972, 27514.04301092,
       18813.75072032, 22328.85657894, 23570.04745368, 20199.15562325,
       21461.50668305, 21948.44402365, 18143.09674399, 27820.05108287,
       24922.64448848, 24624.50576491, 15046.60668191, 27807.05487275,
       27044.99712185, 27307.50352597, 18951.05855756, 16387.15794066,
       25063.79366054, 23697.3509686 , 29619.50307062, 17198.40787867,
       18233.75430547, 28016.19882459, 22515.85297374, 25604.29431015,
       24753.20393964, 23147.41388589, 20087.25682351, 20349.24569713,
       24559.15308302, 17168.70574931, 13877.25577557, 24275.49197123,
       24385.66815407, 24969.29724448, 23290.984763  , 22435.20019426,
       22586.01538545, 18767.78006242, 25661.70764942, 20389.96951624])

In [27]:
y_test

688    21447.50
49     20574.75
288    15313.85
698    19841.65
775    27160.90
         ...
635    22435.15
209    22586.05
296    18767.80
609    25661.65
63     20390.00
Name: price, Length: 300, dtype: float64

# Calculando Desvios/Erros

In [28]:
mse = mean_squared_error(y_test,y_pred_lr, squared=True)
rmse = np.sqrt(mse)
mape = mean_absolute_percentage_error(y_test,y_pred_lr)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [29]:
print(f'MSE: {mse}\nRMSE: {rmse}\nMAPE: {mape}')

MSE: 0.004873012460303519
RMSE: 0.06980696570044796
MAPE: 2.8416008945182665e-06